/*===========================================================
Nav + Header
============================================================*/

body{
    color: #54667a;
}

.top-left-part {
    background: transparent;
}

.logo{
    color: #3dcb5f;
    font-weight: 500;
    font-size: 24px;
    line-height: 56px;
    margin-left: 8.3%;
}

.logo:hover{
    color: #3dcb5f;
}

.logo:focus, .logo:hover{
    color: #3dcb5f;
}

.logo span{
    font-size: 18px;
    font-weight: 300;
}

#side-menu {
    overflow: hidden;
    margin-top: 0px;
}

.sidebar .arrow {
    top: 15px;
}

.navbar-header {
    background: #fff;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.2);
}

.text-color{
    color: #54667a !important;
}

.side-top-icon{
    color: #ffffff;
    line-height: 56px;
    padding-right: 7px;
}

.navbar-tabs li{
    background-color: #fff;
}

.navbar-tabs li a{
    width: 100px;
    padding: 0 15px;
}

#side-menu>li>a{
    padding-left: 20px;
    border-bottom: solid 1px #edf1f5;
    padding: 0 18px;
    height: 40px;
    line-height: 40px;
}

.nav-first-tab{
    top: 60px;
    position: fixed;
}

.nav-second-tab{
    position: fixed;
    top: 65px;
    /*z-index: 99999;*/
    display: flex;
    left: 100px;
}

.nav-second-tab>li.active>a, .nav-second-tab>li.active>a:focus, .nav-second-tab>li.active>a:hover{
    border: 1px solid transparent;
    background-color: #2dbf50;
    color: #fff;
    border-top: solid 1px #eeeff0;
}

.nav-second-tab>li>a{
    width: 100px;
    height: 50px;
    padding: 0 10px;
    line-height: 60px;
    margin-top: -5px;
    color: #fff;
    background-color: #3cca5e;
    margin-right: 0;
    border-left: 1px solid #eeeff0 !important;
    border-bottom-color: #eeeff0 !important;
    border-top: solid 1px #eeeff0;
}

.nav-first-tab>li>a{
    line-height: 50px;
    height: 50px;
    background-color: #3cca5e !important;
    border-bottom: solid 1px #eeeff0;
    color: #fff !important;
    border-top: solid 1px #eeeff0;
}

.nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    background: #3cca5e;
}

.nav-second-tab>li>a:focus, .nav-tabs>li>a:hover {
    border-color: transparent transparent transparent;
    border-top: solid 1px #eeeff0;
}

.nav-first-tab>li>a:hover{
    background-color: #fff;
}

.nav-tab-icons{
    color: #ffffff;
    padding-right: 5px;
}

.nav-second-content{
    width: 300px;
    height: 100%;
    background-color: #fff;
    margin-top: 0;
    position: fixed;
    top: 110px;
    padding-left: 50px;
}

.search-section{
    padding: 30px 15px;
    background-color: #f3f7fb;
}

.btn-search{
    background-color: #3cca5e;
    color: #fff;
    transition: ease 0.5s all;
    padding: 4px 12px !important;
    border: solid 1px #30b750;
}

.nav-icon{
    width: 20px;
    display: inline-block;
}

.btn-search:hover{
    background-color: #1cad3f;
    color: #fff;
    border: solid 1px #1cad3f;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle;
}

.result-span{
    color: #02ad73;
}

.search-section p{
    color: #666;
    font-weight: 500;
    padding-top: 10px;
}

.sms-anchor{
    background-color: #f46c70;
    color: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 13px;
    transition: ease 0.5s all;
}

.sms-anchor:hover{
    color: #fff;
    background-color: #f14147;
}

.watsapp-anchor{
    background-color: #4bdb81;
    color: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 13px;
    transition: ease 0.5s all;
}

.watsapp-anchor:hover{
    background-color: #2ad56c;
    color: #fff;
}

.message-anchor{
    background-color: #0878bd;
    color: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 13px;
    transition: ease 0.5s all;
}

.message-anchor:hover{
    background-color: #065d93;
    color: #fff;
}

.nav-farmers-list>li{
    display: block;
}

.farmer-show-btn{
    text-align: center;
    display: block;
    padding: 8px 20px;
    color: #ffffff;
    font-weight: 400;
    background-color: #36aec1;
    transition: ease 0.7s all;
}

.farmer-show-btn:hover{
    color: #fff;
    background-color: #1d8ea0;
}

.nav-farmers-list{
    padding-left: 0;
    overflow-y: scroll;
    height: 450px;
}

.nav-farmers-list>li>a{
    line-height: 22px;
    padding: 20px 0 20px 10px;
    display: block;
    color: #54667a;
    border-bottom: solid 1px #edf1f5;
    font-weight: 400;
}

.nav-farmers-list>li>a:hover{
    background-color: #3cca5e;
    color: #fff;
}

.nav-address{
    font-size: 13px;
}

.sidebar {
    width: 50px;
    height: 530px;
    border-right: solid 1px #e8ecec;
}
.menu-label {
    padding-left: 15px;
}
.sidebar-is-visible .menu-label  {
    display: inline;
    padding-left: 15px;
}
.sidebar nav li a, 
.sidebar .nav-second-level li a  {
    padding-left: 12px;
}

.parent-menu {
    position:relative;
}

.child-menu {
    position: absolute;
    width: 150px;
    left: 100%;
}

.sidebar-is-visible .nav-second-level li a {
    padding: 14px 10px 14px 40px
}

.sidebar-is-visible {width: 300px}

.filter-panel-title{
    font-size: 14px !important;
}

.filter-panel-heading{
    padding: 0 20px !important;
    height: 40px;
    line-height: 40px;
}

.filter-panel-body{
    padding: 0 30px !important;
    border-bottom: solid 1px #edf1f5;
}

.panel-group .panel .panel-heading a[data-toggle=collapse]:before{
    font-size: 10px;
}

.filter-scroll{
    height: 500px !important;
    overflow-y: scroll;
}

.m-10{
    margin: 10px 0 !important;
}

.filter-dropdown{
    padding: 12px 30px !important;
    display: block;
}

.filter-dropdown-toggle{
    color: #54667a;
}

.filter-dropdown-menu{
    min-width: 173px;
    margin-top: 10px;
}

/*.tab-filter-section{
    position: relative;
}*/

.filter-bottom-section a{
    display: inline-block;
    width: 49%;
    background-color: #3dcb5f;
    padding: 5px 0;
    color: #fff;
    text-align: center;
}

.bottom-position{
    position: absolute;
    width: 234px;
    bottom: 0;
    z-index: 99999
}

/*.nav-active{
    background-color: #f4891f !important;
    color: #fff;
}*/

#side-menu > li > .nav-active {
    background: #3cca5e !important;
    color: #fff !important;
    border-left: none;
}

#side-menu > li > a.active {
    background: transperant;
    color: #54667a;
    border-left: none;
    font-weight: 400;
}

.filter-anchor{
    display: block;
    line-height: 40px;
}

.panel-group .panel+.panel {
    margin-top: 0 !important;
}

.panel .panel-heading .panel-title {
    font-size: 16px;
    color: #54667a;
}

.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 300;
    cursor: pointer;
}

#side-menu > li > a:hover, #side-menu > li > a:focus {
    background: #3cca5e;
    color: #fff !important;
}

#side-menu li a {
    color: #54667a;
    border-left: 0px solid #fff;
    height: 40px;
    padding: 0px 15px;
    line-height: 40px;
    overflow: hidden;
}

.nav-second-level{
    border-bottom: solid 1px #edf1f5;
    background-color: #eef1ef;
}

.page-wrapper-container{
    padding: 75px 0px 0px 0px;
}

.page-wrapper-container h2{
    font-size: 24px;
    font-weight: 500;
    color: #333;
    margin-bottom: 0 !important;
}

.page-wrapper-container h3{
    color: #838383;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0 !important;
}

.table-head{
    background-color: #3cca5e;
    color: #fff;
    border-right: solid 1px #fff;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 10px 8px;
}

.table>thead>tr>th {
    vertical-align: middle;
    border-bottom: 1px solid #e4e7ea;
}

.form-control{
    height: 30px;
}

.table-head:last-child{
    border-right: none;
}

.table-data{
    background-color: #fff;
    border-right: solid 1px #ccc;
    color: #546767;
    font-weight: 400;
    font-size: 13px;
}

.table-data:last-child{
    border-right: none;
    font-size: 13px;
}

.table-search{
    font-size: 12px;
    color: #c2c0c0;
    font-style: italic;
}

.table-bordered, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top: none;
    font-size: 13px;
}

.farmer-table{
    border: solid 1px #c7c7c7;
}

.table{
    margin-bottom: 0 !important;
}

.table-row{
    border-bottom: solid 1px #ccc;
}

.table-row:last-child{
    border-bottom: none;
}

.display-menu{
    display: inline-block;
    padding-left: 15px;
}

.width-auto{
    width: auto;
}

.side-menu-head{
    font-weight: 500;
    font-size: 15px;
    padding-left: 15px;
    background-color: #f4891f;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 1px !important;
}

.farmer-detail-section{
    padding: 30px 30px;
    background-color: #fff;
    margin-top: 20px;
    border: solid 1px #e4e4e4;
}

.detail-label{
    display: inline-block;
    width: 90px;
    float: left;
    font-size: 14px;
    padding: 2px 0;
    font-weight: 400;
    color: #4c5156;
    margin-right: 15px;
    border-radius: 2px;
    font-weight: 500;
}

.detail-span{
    display: inline-block;
    width: 64%;
    line-height: 26px;
    color: #54667a;
}

.side-height{
    height: 525px;
}

.detail-col p{
    margin-bottom: 7px;
}

.crop-tab{
    margin-top: 30px;
}

.crop-tabs>li>a{
    background-color: #3cca5e;
    border-radius: 0 !important;
    border: none !important;
    padding: 13px 15px;
}

.crop-tabs>li{
    border-left: solid 3px #edf1f5;
}

.crop-tabs>li:first-child{
    border-left: none;
}

.crop-tabs>li.active>a, .crop-tabs>li.active>a:focus, .crop-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    font-size: 15px;
    font-weight: 400;
    background-color: #2ea94b;
    border-radius: 0 !important;
}

.crop-tabs>li>a:focus, .crop-tabs>li>a:hover {
    background: #2ea94b;
}

.crop-tabs>li>a{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}

.crop-tab-pane{
    background-color: #fff;
    padding: 30px 60px;
}

.crop-tab-content{
    margin-top: 0;
}

.crop-tab-info1{
    background-color: #4bdb81;
    transform: skew(-10deg) rotate(0deg);
    border-right: solid 2px #fff;
}

.crop-tab-info2{
    background-color: #ff7979;
    transform: skew(-10deg) rotate(0deg);
    border-right: solid 2px #fff;
}

.crop-tab-info3{
    background-color: #ebdf1b;
    transform: skew(-10deg) rotate(0deg);
    border-right: solid 2px #fff;
}

.crop-tab-info4{
    background-color: #acacac;
    transform: skew(-10deg) rotate(0deg);
}

.crop-tab-info-content{
    transform: skew(10deg) rotate(0deg);
    color: #fff;
    padding-left: 30px;
}

.crop-tab-info-content h2{
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0 !important;
}

.crop-tab-pane{
    border: solid 1px #e4e4e4;
    border-top: none;
}

.farmer-details-bottom{
    margin-top: 30px;
}

.farmer_panel{    
    margin-bottom: 30px !important;
}

.farmer_panel:last-child{
    margin-bottom: 0;
}

.farmer_panel_heading{
    background-color: #3cca5e !important;
}

.farmer_panel_heading a{
    color: #fff !important;
    color: #333;
    font-weight: 400;
}

.farmer_panel_left{
    display: inline-block;
    width: 48%;
    margin-right: 2%;
}

.farmer_panel_right{
    display: inline-block;
    width: 48%;
    float: right;
}

.farmer_panel_body h5{
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: solid 1px #e0dfdf;
}

.farmer_panel_body p{
    color: #54667a;
    font-size: 14px;
}

.alert-icon{
    display: inline-block;
}

.alert-right{
    display: block;
    width: 90%;
    float: right;
    background-color: #f33155;
    padding-left: 15px;
}

.alert-right h2{
    margin-top: 0;
    font-size: 18px;
    color: #fff;
    line-height: 47px;
    height: 47px;
}

.alert-icon{
    background-color: #c71d3d;
    color: #fff;
    display: block;
    width: 10%;
    text-align: center;
    float: left;
    height: 47px;
    line-height: 47px;
}

.crop-img{
    margin-top: 30px;
}

.satellite-view{
    height: 290px;    
}
#satellite_map {
    margin-top: 30px;
    height: 100%;
    border: solid 1px #d2d2cf;
}

.pl-0{
    padding-left: 0 !important;
}

.pr-0{
    padding-right: 0 !important;
}

.pb-0{
    padding-bottom: 0 !important;
}

.alert-span{
    font-size: 14px;
    font-weight: 400;
    padding-left: 2px;
    position: relative;
    top: -1px;
}

.main-dash{
    position: relative;
}

.map-info-section{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
}

.map-info-left{
    float: left;
    width: 20%;
}

.map-info-right{
    float: right;
    padding-left: 12px;
    text-align: left;
}

.map-info-col{
    padding: 25px 0 25px 15px;
    display: inline-block;
}

.map-info-icon{
    font-size: 24px;
    width: 55px;
    color: #fff;
    height: 55px;
    display: block;
    
    border-radius: 28px;
    line-height: 55px;
    text-align: center;
}

.map-info-right h3{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}

.map-info-right p{
    color: #fff;
    font-size: 17px;
    margin-bottom: 0;
}

.map-info-border{
    border-right: solid 2px #ececec;
}

.col-1{
    background: #ff7979;
}

.col-2{
    background: #0878bd;
}

.col-3{
    background: #f38b3d;
}

.col-4{
    background: #02ad73;
}

.text-col-1{
    color: #ff7979;
}

.text-col-2{
    color: #0878bd;
}

.text-col-3{
    color: #f38b3d;
}

.text-col-4{
    color: #02ad73;
}

.dash-wrapper-height{
    height: 540px;
}

.details_modal{
    padding: 0;
}

.details-tabs>li>a{
    padding: 14px 15px;
    background-color: #3cca5e;
    color: #fff;
}

.details-tabs>li>a:hover{
    background-color: #2dbf50;
    border-bottom: solid 1px #2dbf50;
    border-top: solid 1px #2dbf50;
}

.details-tabs.nav-justified>.active>a, .details-tabs.nav-justified>.active>a:focus, .details-tabs.nav-justified>.active>a:hover {
    border: 1px solid #2dbf50;
}

.details-tabs > li.active > a, .details-tabs > li.active > a:focus, .details-tabs > li.active > a:hover {
    background: #2dbf50;
    color: #ffffff;
}

.details-modal-left{
    padding-top: 30px;
}

.details-border{
    border: solid 1px #e8e8e8;
    padding: 20px 15px;
    background-color: #fff;
}

.details-modal-main{
    background-color: #edf1f5;
}

.details-modal-left img {
    border: solid 1px #43754f;
}

.details-lists{
    padding-left: 0;
    padding-top: 20px;
}

.details-lists li{
    display: flex;
    margin-bottom: 5px;
    line-height: 24px;
    font-weight: 400;
}

.details_icon{
    color: #2dbf50;
    width: 28px;
    padding-right: 10px;
    text-align: center;
}

.pr-20{
    padding-right: 20px;
}

.pl-5{
    padding-left: 5px;
}

.details-summary a{
    background-color: #57b6c5;
    color: #fff;
    display: block;
    padding: 8px 0;
    font-weight: 400;
    text-align: center;
}

.details-info-left{
    width: 20%;
    color: #fff;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    background-color: #4398a2;
}

.details-info-right{
    display: inline-block;
    width: 80%;
    padding: 3px 0px 3px 10px;
    background-color: #82c7d0;
}

.details-info-right h4{
    margin: 0;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}

.details-info-right p{
    color: #fff;
    margin-bottom: 0;
}

.info-col-1{
    background-color: #0cbb80;
}

.info-col-1-left{
    background-color: #0e9c6c;
}

.info-col-2{
    background-color: #f33155;
}

.info-col-2-left{
    background-color: #c71d3d;
}

.info-col-3{
    background-color: #41b3f9;
}

.info-col-3-left{
    background-color: #20a5f8;
}

.info-col-4{
    background-color: #7460ee;
}

.info-col-4-left{
    background-color: #482fe9;
}

.info-col-5{
    background-color: #ffbb44;
}

.info-col-5-left{
    background-color: #ffab1a;
}

.details-tab-content{
    margin-top: 0;
}

.details-modal-right{
    margin-top: 30px;
}

.details-tab-pane{
    background-color: #fff;
    padding: 20px 0;
    border: solid 1px #e8e8e8;
}

.details-info-content{
    padding: 0 20px;
}

.details-info{
    margin-bottom: 20px;
}

.owl-theme .owl-dots{
    display: none;
}

.pl-20{
    padding-left: 20px;
}

.pr-20{
    padding-right: 20px;
}

.alert-heading h3{
    color: #fff;
    font-size: 18px;
    margin-top: 0;
    float: left;
    width: 80%;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    background-color: #2dbf50;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.alert-heading a{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    background-color: #2dbf50;
    color: #fff;
    text-align: center;
    width: 10%;
}

/*.details-modal-content>.active{
    display: flex;
}*/

.owl-prev{
    float: left;
    position: absolute;
    top: 90px;
    left: -20px;
    padding: 6px 12px !important;
    background-color: #57b6c5 !important;
}

.owl-next{
    float: right;
    position: absolute;
    top: 90px;
    right: -20px;
    padding: 6px 12px !important;
    background-color: #57b6c5 !important;
}

.alert-lists{
    padding-left: 0;
    margin-top: 5px;
}

.alert-lists li{
    display: block;
    line-height: 24px;
    font-weight: 400;
    border-bottom: solid 1px rgba(120, 130, 140, .23);
    padding: 4px 5px;
}

.alert-label{
    font-weight: 500;
    color: #333;
    padding-left: 10px;
}

.alert-img{
    object-fit: cover;
    object-position: center;
    height: 220px;
}

.success-col{
    color: #7ace4c;
}

.alert-tab-pane p{
    padding: 15px 35px;
    font-weight: 500;
    color: #2f2f2f;
}

.alert-advice{
    font-weight: 400;
    color: #54667a;
}

.activity-table{
    border: solid 1px rgba(152, 150, 150, 0.23);
}

.activity-table>thead>tr>td{
    border-right: solid 1px #fff;
    background-color: #57b6c5;
    color: #fff;
}

.activity-table>thead>tr>td:last-child{
    border-right: none;
}

.activity-table>tbody>tr>td{
    border-right: solid 1px rgba(120, 130, 140, .23);
}

.activity-table>tbody>tr>td:last-child{
    border-right: none;
}

.activities-content{
    padding: 0 20px;
}

.input-content{
    padding: 0 20px;
}

.activity-status{
    color: #fff;
    padding: 3px 0;
    width: 75px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
}

.status-complete{
    background-color: #88c168;
}

.status-pending{
    background-color: #fb4f6f;
}

.inner-nav-tab-content{
    margin-top: 0;
}

.t-110{
    top: 110px;
}

.inner-nav-tab{
    left: 0;
}

.inner-nav-tab>li>a{
    width: 120px;
}

#inner-second-tab> li > a.active {
    background: transperant;
    color: #54667a;
    border-left: none;
    font-weight: 400;
}

#inner-second-tab > li > .nav-active {
    background: #f4891f !important;
    color: #fff !important;
    border-left: none;
}

#inner-second-tab>li>a {
    height: 40px;
    padding: 0px 15px;
    line-height: 40px;
    border-bottom: solid 1px #edf1f5;
    width: 240px;
}

#inner-second-tab>li>a:hover{
    background-color: #2dbf50;
    color: #fff;
}

.sidebar-nav {height: 100%}


/*======================== wizard bar ==================================*/

.bootstrapWizard {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%
}

.bootstrapWizard a:hover,.bootstrapWizard a:active,.bootstrapWizard a:focus {
    text-decoration: none
}

.bootstrapWizard li {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    padding-left: 0
}

.bootstrapWizard li:before {
    border-top: 1px solid #cbcfd4;
    content: "";
    display: block;
    font-size: 0;
    overflow: hidden;
    position: relative;
    top: 11px;
    right: 1px;
    width: 100%;
    z-index: 1;
}

.bootstrapWizard li:first-child:before {
    left: 50%;
    max-width: 50%
}

.bootstrapWizard li:last-child:before {
    max-width: 50%;
    width: 50%
}

.bootstrapWizard li.complete .step {
    background: #0aa66e;
    padding: 1px 6px;
    border: 3px solid #55606E
}

.bootstrapWizard li .step i {
    font-size: 10px;
    font-weight: 400;
    position: relative;
    top: -1.5px
}

.bootstrapWizard li .step {
        background: #ffffff;
    color: #777;
    display: inline;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    padding: 15px 20px;
    border: 1px solid #cbcfd4;
    border-radius: 50%;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s;
}

.bootstrapWizard li.active .step,.bootstrapWizard li.active.complete .step {
    background: #ffffff;
    color: #3cca5e;
    font-weight: 700;
    padding: 20px 25px;
    font-size: 15px;
    border-radius: 50%;
    border: 3px solid #3cca5e;
}

.bootstrapWizard li.complete .title,.bootstrapWizard li.active .title {
    color: #3cca5e;
    font-weight: 500;
}

.bootstrapWizard li .title {
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 15px;
    max-width: 100%;
    position: relative;
    table-layout: fixed;
    text-align: center;
    top: 35px;
    word-wrap: break-word;
    z-index: 104;
    font-weight: 400;
}

.wizard-actions {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%
}

.wizard-actions li {
    display: inline
}

.tab-content.transparent {
    background-color: transparent
}

.progress-tab-pane h3{
    text-align: center;
    margin-top: 15px !important;
}

.progress-icon{
    background-color: #3da3b3;
    color: #fff;
    display: inline-block;
    width: 45px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.progress-date{
    background-color: #57b6c5;
    color: #fff;
    height: 40px;
    display: inline-block;
    left: -4px;
    position: relative;
    width: 130px;
    line-height: 40px;
    font-size: 14px;
}

/*================================ //wizard bar =========================================*/

.overflow-data{
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.site-table{
    margin-top: 20px;
}

.table-heading{
    float: left;
}

.search-field{
    float: right;
    margin-top: 10px;
}

.table-search-btn{
    background: #f4891f;
    border: 1px solid #da7c1e;
    color: #fff;
}

.table-search-btn:hover{
    color: #fff;
    background: #f4891f;
}

.form-control:focus {
    box-shadow: none;
    border-color: #6dbd80;
}

.pagination{
    margin: 0 !important;    
}

.table-bottom{
    margin-top: 30px;
} 

.pagination>li>.active{
    background-color: #3cca5e;
    color: #fff;
}

.pagination>li>a, .pagination>li>span {
    color: #546767;
    font-size: 13px;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    background-color: #3cca5e;
    color: #fff;
    opacity: 1;
}

.table-search-btn.active, .table-search-btn:active, .open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: #f4891f;
    border-color: #e67e16;
}

.ml-4{
    margin-left: 4%;
}

.table-head-row{
    border-bottom: solid 1px #2290d4
}

#table-dropdown-btn{
    background-color: #57b6c5;
    color: #fff;
    border: solid 1px #2d9aab;
}

.table-dropdown-menu{
    right: 0 !important;
    left: auto;
    padding: 0 0;
    padding-bottom: 0 !important;
    font-size: 13px;
}

.table-dropdown-menu>li>a{
    color: #54667a;
}

.table-dropdown-menu>li>a:hover{
    color: #fff;
    background-color: #3cca5e !important
}

.table-dropdown-icon{
    padding-right: 10px;
}

.table-checkbox{
    position: relative !important;
}

.table-bottom-left h3{
    font-size: 13px !important;
}

.table-search-btn{
    padding: 4px 8px;
}

.h-34{
    height: 34px;
}

.form-control{
    color: #777 !important;
    font-weight: 300 !important;
}

.widget-body{
    margin-top: 20px;
}

.input-dropdown-table>thead>tr>th{
    background-color: #3cca5e;
    color: #fff;
    padding: 9px 15px;
}

.input-dropdown-table>tbody>tr>td{
    padding: 9px 15px;
}

.input-dropdown-table>tbody>tr{
    border-bottom: dashed 1px #e2e1e1;
}

.input-dropdown-table>tbody>tr:last-child{
    border-bottom: none;    
}

.input-dropdown-menu{
    padding: 0;
    min-width: 220px;
    max-height: 260px;
    overflow-y: scroll;
}

.alert-section{
    max-width: 380px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.alert-table>thead>tr>th{
    background-color: rgba(61, 203, 95, 0.9);
    color: #fff;
    padding: 12px 15px;
    border-bottom: none;
}

.alert-table>tbody>tr>td{
    padding: 12px 15px;
    color: #d8d6d6;
}

.alert-table>tbody>tr{
    border-bottom: dashed 1px #444;
}

.alert-table>tbody>tr:last-child{
    border-bottom: none;    
}

.alert-btn{
    position: absolute;
    top: 35%;
    right: 5px;
    transform: translateY(-50%);
    background-color: #f33155;
    text-align: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation-delay: 3s;
    animation-duration: 3s;
}

.alert-btn a{
    color: #fff;
    line-height: 22px;
    padding-top: 12px;
    display: block;  
}

.alert-icon2{
    display: inline-block;
}

#calendar h2{
    color: #fff;
}

.navbar-top-links>li>a{
    font-weight: 500;
    color: #3dcb5f;
}

.current-stage{
    background-color: #57b6c5;
    color: #fff;
    border-top: solid 1px #57b6c5;
}

.fc-toolbar {
    background: #57b6c5;
}

.fc-button {
    background: #2191a2;
    border: #359cad;
}

.fc th.fc-fri, .fc th.fc-mon, .fc th.fc-wed {
    background: #57b6c5;
}

.fc th.fc-sat, .fc th.fc-sun, .fc th.fc-thu, .fc th.fc-tue {
    background: #349eae;
}

.fc-button:hover {
    background: #2967a5;
    opacity: .8;
}

.event-btn{
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.3333333;
    margin-bottom: 15px;
    width: 170px;
    float: right;
    background-color: #edf1f5;
    border: solid 1px #3cca5e;
    color: #3cca5e;
}

.event-btn:hover{
    background-color: #3cca5e;
    color: #fff;
}

.fc-agendaWeek-button{
    display: none;
}

.fc-agendaDay-button{
    display: none;
}

.fc-month-button{
    display: none;
}

.filters th{
    background-color: #fff;
    border-right: solid 1px #ccc;
    font-weight: 400;
}

.filters th:last-child{
    border-right: none;
}

input.icon {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-align: center;
    font-size: 13px;
}

.map-info-png{
    position: relative;
    top: -4px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 7s;
}

.inner-side-menu li a {
    width: 240px !important;
}

.sidebar .nav-second-level li a .menu-label{
    padding-left: 5px;
}

.sidebar .nav-second-level li a{
    padding: 0px 0 0 32px !important;
    font-size: 13px;
}

.sidebar .fa-fw {
    font-size: 14px;
    margin-right: 0;
}

.dropdown-menu{
    display: none;
}

.dropdown-toggle:hover .dropdown-menu{
    display: block;
}

.sidebar .nav-second-level li a:hover{
    color: #54667a !important;
    background-color: #dfe8e1 !important;
}

.sidebar .nav-third-level li a{
    padding: 0px 0 0 50px !important;
}

.fs-11{
    font-size: 11px !important;
}

.calendar-nav-tab>li>a {
    width: 240px;
    text-align: center;
    line-height: 50px;
}

.table>thead>tr>th {
    padding: 10px 4px;
}
