@media screen and (min-width: 1200px) {
    
}

@media screen and (max-width: 1200px) {
      
}

@media screen and (min-width: 1024px) {}

@media screen and (max-width: 1024px) {}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    
}

@media screen and (min-width: 992px) and (max-width: 1024px) {}

@media screen and (min-width: 992px) {

}

@media screen and (max-width: 992px) {
   
}

@media screen and (min-width: 768px) and (max-width: 992px) {

}

@media screen and (min-width: 600px) and (max-width: 992px) {}

@media (max-width: 800px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (min-width: 768px) {
   
    .sidebar{
        top: 110px;
    }
    .t-60{
        top: 62px;
    }
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 300px;
    }
    .m-240 {
        margin: 0 0 0 240px !important;
    }
    .details-tabs>li>a {
        border-bottom: 1px solid #2dbf50 !important;
        border-radius: 0 !important;
    }
    
}

@media screen and (max-width: 720px) {
    

}


@media screen and (max-width: 620px) {


}

@media screen and (max-width: 600px) {
      
}


@media screen and (min-width: 450px) and (max-width: 768px) {

}

@media screen and (max-width: 450px) {

}

@media screen and (max-width: 550px) {
    
}

@media screen and (max-width: 420px) {

}
    